.content {
  padding: 15px 30px 0px;
  background: #fff;
  border-radius: 15px;
  margin: 30px auto 60px;
}
.chattitle > span {
  float: left;
  font-weight: 600;
  line-height: 60px;
  font-size: 18px;
}
.chatbtn {
  display: block;
  float: right;
  background-color: #ff9401;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
  font-weight: 600;
}
.chat {
  border-radius: 15px;
  padding: 15px 30px;
  background: #fafafa;
  max-height: 700px;
  overflow-y: scroll;
  position: relative;
}
.searchperson {
  position: relative;
}
.searchperson svg {
  position: absolute;
  cursor: pointer;
  right: 13px;
  top: 10px;
}
.showperson {
  max-height: 644px;
  overflow-y: scroll;
}
.search {
  border-radius: 10px;
  background: #fafafa;
  font-size: 15px;
  width: 97%;
  padding: 10px;
  margin-bottom: 15px;
}
.massege {
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  display: none;
}
.massegee {
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  display: block;
}
.peritem {
  padding: 13px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.perpic span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
}
.pertitle.unread {
  font-size: 15px;
  font-weight: 600;
  color: #1a1c36;
}
.permessage.unread {
  font-weight: 600;
  font-size: 15px;
  color: #7a7d7c;
}
.selected {
  background: #fafafa;
}
.pertitle.read {
  font-size: 15px;
  font-weight: 500;
  color: #a0a1ac;
}
.permessage.read {
  font-size: 15px;
  color: #a0a1ac;
}
.date {
  color: #a0a1ac;
  font-size: 15px;
  margin-bottom: 20px;
}
.chatpic {
  margin-right: 20px;
}
.chatpic span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  cursor: pointer;
}
.posttxt {
  background-color: #fff;
  border-radius: 13px;
  font-size: 15px;
  line-height: 30px;
  color: #707070;
  padding: 15px;
}
.clock {
  color: #a0a1ac;
  font-size: 12px;
  line-height: 30px;
}
.reply {
  float: right;
}
.chatreplypic {
  margin-left: 20px;
}
.chatreplypic span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  cursor: pointer;
  float: right;
}
.postreplytxt {
  background-color: #e5ffff;
  border-radius: 13px;
  font-size: 15px;
  line-height: 30px;
  color: #707070;
  padding: 15px;
}
.clockreply {
  color: #a0a1ac;
  font-size: 12px;
  line-height: 30px;
  text-align: right;
}
.post,
.reply {
  margin-bottom: 25px;
}
.txtwidth {
  width: auto;
}
.send {
  resize: none;
  overflow: hidden;
  height: 40px;
  min-height: 0px;
  max-height: 80px;
  background-color: #fff;
  border-radius: 13px;
  font-size: 16px;
  padding: 10px 100px 10px 20px;
  position: absolute;
  bottom: 4px;
  width: 94%;
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
}
.attach {
  position: absolute;
  left: 89%;
  bottom: 10px;
  width: 0px;
  cursor: pointer;
}
.sen {
  position: absolute;
  left: 93%;
  bottom: 8px;
  width: 0px;
  cursor: pointer;
}
.sen svg {
  width: 23px;
  height: 23px;
}
.showper {
  background: #fafafa;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #2d3ddf;
}
.showper span {
  width: 88px !important;
  height: 88px !important;
  margin: 20px auto !important;
  display: block !important;
  border-radius: 100%;
}
.name {
  text-align: center;
  color: #1a1c36;
  font-size: 20px;
}
.work {
  text-align: center;
  color: #7a7d7c;
  font-size: 20px;
}
.file {
  background: #e5ffff;
  border-radius: 15px;
  padding: 10px 25px;
  color: #3a8944;
  font-size: 20px;
}
.filename {
  text-align: left;
  line-height: 25px;
}
.filecount {
  display: inline;
  padding-left: 10px;
  font-weight: 600;
}
.share {
  background: #e6f3ff;
  border-radius: 15px;
  padding: 10px 25px;
  color: #2d3ddf;
  font-size: 20px;
}
.sharename {
  text-align: left;
  line-height: 25px;
}
.sharecount {
  display: inline;
  padding-left: 10px;
  font-weight: 600;
}
.papersvg {
  background: #e6f3ff;
  border-radius: 15px;
  display: flex;
}
.papersvg svg {
  align-self: center;
  margin: auto;
}
.txtholder {
  padding: 0 15px;
}
.arrow {
  position: relative;
  top: 30%;
}
.deldes {
  font-size: 20px;
  color: #ff4d4d;
  display: inline;
  padding: 3px 0 0 20px;
  position: relative;
  cursor: pointer;
  top: 4px;
}
.item {
  padding: 10px;
}
.item span {
  width: 45px !important;
  height: 45px !important;
  border-radius: 100%;
  display: block !important;
  margin: auto !important;
}
.itdes {
  color: #707070;
  display: inline;
  padding: 15px;
  background: #fff;
  border-radius: 15px;
}
.ittime {
  text-align: right;
  padding: 0px 20px;
  color: #a0a1ab;
  font-size: 13px;
}
.chatcontent {
  max-height: 600px;
  overflow-y: scroll;
  background-color: #fafafa;
}
.videoChat {
  background-color: #fff;
  border-radius: 15px;
}
.chatlivehold {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  margin-top: 30px;
}
.tabstyle {
}
.tabstyle li {
  width: 50%;
}
.tabstyle li button {
  width: 100%;
}
.people {
  background-color: #fafafa;
  padding: 10px;
  max-height: 600px;
  overflow-y: scroll;
}
.people > div {
  background-color: #fff;
  padding: 10px;
}
.peoplepic span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  display: block !important;
  margin: auto !important;
}
.peoplename {
  position: relative;
  top: 10px;
}
.peoplebtn {
  position: relative;
  top: 10px;
  background: #ff9401;
  color: #fff;
}
.peoplebtn:hover {
  color: #fff;
}
.conreq {
  border-radius: 15px;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
}
.conreqPic span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  display: block !important;
  margin: auto !important;
}
.conreqConfirm {
  background: #198754;
  color: #fff;
}
.conreqConfirm:hover {
  color: #fff;
}
.conreqBTN button {
  margin: 0 7px;
  padding: 5px 20px;
}
.conreqDes {
  color: #7a7d7c;
}
.conreqSec {
  max-height: 712px;
  overflow-y: scroll;
}
.conreqtitle {
  padding: 20px 5px;
  font-size: 22px;
}
.conList {
  font-size: 22px;
  padding: 5px 0px;
}
.conBTN {
  width: 100%;
}
.conholder {
  max-height: 842px;
  overflow-y: scroll;
}
@media only screen and (max-width: 1400px) {
  .showperson2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .chat {
    max-height: 810px;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  /* .personDetail {
    position: absolute;
    width: 100%;
    top: 80px;
  } */
}

@media only screen and (max-width: 576px) {
}
