.coursetitle {
  padding: 15px 30px 70px;
  background: #fff;
  border-radius: 15px;
  margin: 30px auto 60px;
}
.seeMore a {
  display: block;
  float: right;
  margin-right: 50px;
  text-decoration: underline !important;
  color: orange !important;
  font-weight: bold;
}
.coursetitle > span {
  float: left;
  font-weight: 600;
  line-height: 60px;
  font-size: 18px;
}
.coursebtn {
  display: block;
  float: right;
  background-color: #ff9401;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
  font-weight: 600;
}
.searchbtn {
  display: block;
  margin: auto;
}
.searchBox {
  background: #fafafa !important;
}
.coursesection {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}
.tablehead {
  background: #f9f9fa;
}
.greenc {
  color: green !important;
}
.del:hover path {
  fill: red;
}
.edit:hover path {
  fill: blue;
}
.edit,
.del {
  float: left;
  cursor: pointer;
}
.edit path,
.del path {
  transition: 0.5s;
}
.del {
  margin-right: 5px;
}
.orangec {
  color: orange;
}
.redc {
  color: red;
}
.bluec {
  color: blue;
}
.paginationBttns {
  /* width:80%; */
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: right;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff !important;
  cursor: pointer;
  transition: 0.3s;
}
.paginationBttns a:hover {
  background-color: #2b2eff;
  color: #fff !important;
}
.paginationDisabled a {
  background-color: #ccc;
  color: #7173c4 !important;
  border: 1px solid #7173c4;
}
.paginationDisabled a:hover {
  color: #fff !important;
}
.paginationActive a {
  background-color: #2b2eff;
  color: #fff !important;
}
.itemnum {
  font-size: 16px;
  position: relative;
  top: -30px;
}
.modalbody {
  margin: auto;
  text-align: center;
  padding: 50px 50px;
}
.modalbody2 {
  text-align: left;
  padding: 50px 50px;
  background: #fafafa;
}
.modalbody svg {
  width: 50px;
  height: 50px;
  fill: red;
}
.modalbody path {
  fill: red;
}
.modalbody h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
}
.modalbody h5 {
  font-size: 16px;
  line-height: 40px;
}
.coursetitle2 {
  padding: 15px 30px 30px;
}
.datesection > div > button {
  background: #ccc;
  border-radius: 100%;
}
.datesection > div > button:hover {
  background: #ffd3d3;
  border-radius: 100%;
}
.tasktitle {
  font-weight: 600;
  font-size: 18px;
}
.taskitemholder > div > div {
  background: #fff;
  border-radius: 15px;
  margin: 30px 0;
  padding: 30px;
}
.conpicholder {
  display: inline !important;
  position: relative;
}
.conpicholder > span {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
}
/* .conpicholder:nth-child(3){left: -10px}
.conpicholder:nth-child(4){left: -20px} */
.conpicholder:nth-child(5) {
  left: 0px;
}
.conpicholder:nth-child(6) {
  left: -10px;
}
.conpicholder:nth-child(7) {
  left: -20px;
}
.conpicholder:nth-child(8) {
  left: -30px;
}
.conpicholder:nth-child(9) {
  left: -40px;
}
.conpicholder:nth-child(10) {
  left: -50px;
}

.conpicholdernum {
  left: 50px;
  display: inline !important;
  position: relative;
}
.connum {
  position: relative;
  right: 38px;
  top: -20px;
  font-size: 13px;
  font-weight: 600;
}
.tname {
  font-size: 15px;
  font-weight: 600;
}
.tdes {
  font-size: 15px;
  color: #7a7d7c;
  padding: 15px 0;
}
.cname {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 0;
  display: block;
  float: left;
}
.cdate {
  font-size: 15px;
  display: block;
  float: right;
  color: blue;
  border: 2px dotted blue;
  padding: 13px;
  border-radius: 12px;
}
.conholder {
  margin: 80px 0 0;
}

.field {
  border: 1px solid #9ea5ef;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.err {
  color: red;
  margin-bottom: 15px;
}
.datepick {
  border-radius: 10px;
  color: #777;
  margin: 10px 0 15px;
}
.datepick > div {
  border: 1px solid #9ea5ef !important;
  padding: 5px;
  border-radius: 10px;
}
.datepick input {
  color: #777;
}
.datepick svg {
  width: 26px;
  height: 26px;
  fill: #777;
}
.datepick path {
  fill: #777;
}
.modalholder > div > div {
  background: #fafafa;
}
.uplod {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.uplodlabel {
  color: blue;
  text-decoration: underline;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.divider {
  border: 2px dashed #ccc;
  margin: 25px 0;
}
.label {
  display: block;
  color: #1a1c36;
  margin-bottom: 10px;
  line-height: 30px;
}
.labelleft {
  padding-right: 5px;
}
.notify {
  font-weight: 600;
  padding: 10px 0 20px;
  font-size: 18px;
}
.chek {
}
.chek {
  width: 25px !important;
  height: 25px !important;
  border-radius: 15px;
  margin: 0 15px 15px 0;
  transition: 0.5s;
  position: relative;
  top: 6px;
}
.chek:checked {
  width: 25px !important;
  height: 25px !important;
}
.frmBTN {
  background: #ff9401;
  color: #fff;
  transition: 0.5s;
  padding: 10px 100px;
  font-weight: 600;
  display: block;
  float: right;
}
.frmBTN:hover {
  color: #fff;
}
@media only screen and (max-width: 1400px) {
  .conpicholdernum {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .conpicholdernum {
    display: inline !important;
  }
}

@media only screen and (max-width: 992px) {
  .labelleft {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .cdate {
    font-size: 12px;
    padding: 13px 9px;
    border-radius: 9px;
  }
  .conpicholdernum {
    left: 20px;
  }
}
