.live,
.live2 {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 15px;
}
.live2 {
  cursor: pointer;
}
.live span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  animation: mymove 2s;
  animation-iteration-count: infinite;
}
.live > span {
  border: 3px solid rgb(43, 209, 231) !important;
}
@keyframes mymove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.liveTitle {
  font-size: 15px;
  line-height: 30px;
}
.liveWork {
  font-size: 15px;
  color: #7a7d7c;
  margin-bottom: 15px;
}
.liveBtn {
  background-color: #ff9401;
  color: #fff;
  border-radius: 12px;
  padding: 8px 20px;
  border: none;
  transition: 0.5s;
}
.liveBtn:hover {
  background-color: #f28c00;
}
.liveJoin {
  font-size: 15px;
  color: #7a7d7c;
  margin: 15px 0;
}
.slide span {
  width: 100% !important;
  height: 100% !important;
  border-radius: 15px;
}
.per {
  padding: 0 20px;
  position: relative;
  top: -80px;
}
.per span {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
}
.per > span {
  border: 3px solid blue !important;
}
.perName {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.stuTitle {
  margin: 30px 0 20px 0;
  font-weight: 600;
}
.stuDes {
  margin: 15px 0 20px 0;
}
.slide2 {
  background-color: #f1f6f2;
  border-radius: 15px;
  margin: auto;
  text-align: center;
}
.slide2 svg {
  margin: 20px 0;
}
.slide2 h6 {
  font-size: 15px;
  font-weight: 600;
}
.slide2 h6 span {
  font-weight: 500;
}
.per2 {
  margin: 22px 0;
}
.perName2 {
  display: inline;
  font-size: 15px;
  font-weight: 500 !important;
  position: relative;
  top: -12px;
  margin-left: 12px;
}
.blue {
  background-color: #e6f4ff;
  border-radius: 15px;
  padding: 15px 0;
  text-align: center;
}
.blue > div,
.orange > div {
  line-height: 50px;
}
.blueTitle {
  font-size: 18px;
}
.blueDes {
  font-size: 13px;
  color: #7a7d7c;
}
.blueBtn {
  color: #fff;
  background-color: #2d3ddf;
  border: none;
  border-radius: 15px;
  padding: 0 7px;
  margin: auto;
}
.orange {
  background-color: #ffefd8;
  border-radius: 15px;
  padding: 15px 0;
  text-align: center;
}
.orange rect {
  fill: #ff9401;
}
.orangeBtn {
  color: #fff;
  background-color: #ff9401;
  border: none;
  border-radius: 15px;
  padding: 0 7px;
  margin: auto;
}
.first,
.blueTitle,
.blueDes {
  flex-grow: 1;
}
.last {
  flex-grow: 1;
  display: flex;
}
.Num {
  background-color: blue;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 24px;
  left: 5%;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.border {
  margin: 24px 95px;
  display: inline-block;
}
.numDisable{
  background-color: #D4D5D5;
}
.stitle{
  color: #7A7D7C;
}
.sessionHolder{
  padding-bottom: 20px;
}
.sessionHolder svg{
  display: flex;
  position: relative;
  top: 22px;
  right: 33px;
}
.sessionOption {
  display: block;
  float: left;
}
.sactive{
  color: #f28c00;
}
.vidName{
  font-weight: 600;
  padding: 30px 0 0 30px;
}
.session{
  max-height: 500px;
  overflow-y: scroll;
}
.sessionOption2{
  display: block;
  float: right;
  margin-left: 100px;
}
.maincontainer{
  margin-top: 30px;
}
.taskholder{
  padding: 40px 25px;
  background-color: #fff;
  margin-top: 20px;
}
.taskit{
  padding: 20px 15px;
}
.taskit > div{
  border-radius: 15px;
  background-color: #FAFAFA;
  padding: 12px;
  color: #1A1C36;
}
.small{
  flex-grow: 1;
}
.big{
  flex-grow: 2;
}
.dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3A8944;
  margin-right: 10px;
  display: inline-block;
}
.dot1{
  background-color: #FF9401;
}
.stateColor{
  color: #3A8944;
}
.stateDone{
  background-color: #FF9401;
  color: #fff;
  border: 1px solid #FF9401;
  border-radius: 10px;
  padding: 3px 8px;
}
.stateNotDone{
  background-color: #fff;
  color: #FF9401;
  border: 1px solid #FF9401;
  border-radius:10px;
  padding: 3px 8px;
}
.editor{
  border-radius: 15px;
  padding: 25px;
  background-color: #fff;
}
.editor div{
  border:1px solid #ccc;
  border-radius: 15px;
  padding: 25px;
}
.taskHead{
  border-radius: 15px;
  padding: 25px;
  background-color: #fff;
  margin-bottom: 25px;
}
.taskHeadDes{
  color: #7A7D7C;
}
.taskBtn{
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #FF9D14;
  padding: 10px 60px;
}
.curs{
  cursor:pointer
}
.transContainer{
  background-color: #fff;
  padding: 40px 15px;
  border-radius: 15px;
}
.Orderid{
  margin: 30px 0 40px;
}
.OrderDet{
  display: inline;
}
.orderList{
  padding: 30px 15px;
  border-radius: 15px;
  margin: 80px auto 10px;
  background-color: #FAFAFA;
}
.orderSmall{
  flex-grow: 1;
}
.orderBig{
  flex-grow: 5;
}
.orderHolder{
  color: #1A1C36;
}
.orderNum{
  color: #7A7D7C;
}
.orderPic span{
  width: 35px !important;
  height: 35px !important;
  border-radius: 100% !important;
}
.orderPerName{
  display: inline;
  position: relative;
  top: -15px;
  left: 5px;
}
.listItems{
  margin: 14px 0 ;
}
.cerContainer{
  padding: 20px;
}
.cer span{
  width: 250px !important;
  height: 200px !important;
  border-radius: 15px;
}
.cer h6{
 margin:20px 0 40px;
 color: #707070;
}
.recommend h6{
 color: #707070;
}
.recommend button{
  color: #fff;
  border-radius: 15px;
  border:none;
  background-color: #FF9D14;
  padding: 12px 60px;
  margin: 35px auto;
 }
 .recDes{
  color: #1A1C36;
  line-height: 25px;
  text-align: justify;
 }
 .recPer{margin: 20px 0}
 .recPer span{
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
 }
 .recPer h6{
  color: #1A1C36;
  display: inline;
  position: relative;
  top: -15px;
  left: 5px;
 }
 .caltitle{}
 .calbtn{}
@media only screen and (max-width: 1400px) {
  .sessionOption2{
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .sessionOption2{
    margin-left: 160px;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .orange,
  .blue {
    flex-direction: column;
  }
  .blueBtn,
  .orangeBtn {
    padding: 1px 18px;
  }
  .sessionOption2{
    margin-left: 50px;
  }
  .border{
    margin: 24px 55px;
  }
  .orderHolder,
  .orderHolder h6{
    font-size: 11px;
  }
  .orderPic{
    position: relative;
    top: -10px;
  }
  
}
