.live,
.live2 {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 15px;
}
.live2 {
  cursor: pointer;
}
.live span {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  animation: mymove 2s;
  animation-iteration-count: infinite;
}
.live > span {
  border: 3px solid rgb(43, 209, 231) !important;
}
@keyframes mymove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.liveTitle {
  font-size: 15px;
  line-height: 30px;
}
.liveWork {
  font-size: 15px;
  color: #7a7d7c;
  margin-bottom: 15px;
}
.liveBtn {
  background-color: #ff9401;
  color: #fff;
  border-radius: 12px;
  padding: 8px 20px;
  border: none;
  transition: 0.5s;
}
.liveBtn:hover {
  background-color: #f28c00;
}
.liveJoin {
  font-size: 15px;
  color: #7a7d7c;
  margin: 15px 0;
}
.slide span {
  width: 100% !important;
  height: 100% !important;
  border-radius: 15px;
}
.per {
  padding: 0 20px;
  position: relative;
  top: -80px;
}
.per span {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
}
.per > span {
  border: 3px solid blue !important;
}
.perName {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.stuTitle {
  margin: 30px 0 20px 0;
  font-weight: 600;
}
.stuDes {
  margin: 15px 0 20px 0;
}
.slide2 {
  background-color: #f1f6f2;
  border-radius: 15px;
  margin: auto;
  text-align: center;
}
.slide2 svg {
  margin: 20px 0;
}
.slide2 h6 {
  font-size: 15px;
  font-weight: 600;
}
.slide2 h6 span {
  font-weight: 500;
}
.per2 {
  margin: 22px 0;
}
.perName2 {
  display: inline;
  font-size: 15px;
  font-weight: 500 !important;
  position: relative;
  top: -12px;
  margin-left: 12px;
}
.blue {
  background-color: #e6f4ff;
  border-radius: 15px;
  padding: 15px 0;
  text-align: center;
}
.blue > div,
.orange > div {
  line-height: 50px;
}
.blueTitle {
  font-size: 18px;
}
.blueDes {
  font-size: 13px;
  color: #7a7d7c;
}
.blueBtn {
  color: #fff;
  background-color: #2d3ddf;
  border: none;
  border-radius: 15px;
  padding: 0 7px;
  margin: auto;
}
.orange {
  background-color: #ffefd8;
  border-radius: 15px;
  padding: 15px 0;
  text-align: center;
}
.orange rect {
  fill: #ff9401;
}
.orangeBtn {
  color: #fff;
  background-color: #ff9401;
  border: none;
  border-radius: 15px;
  padding: 0 7px;
  margin: auto;
}
.first,
.blueTitle,
.blueDes {
  flex-grow: 1;
}
.last {
  flex-grow: 1;
  display: flex;
}
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .orange,
  .blue {
    flex-direction: column;
  }
  .blueBtn,
  .orangeBtn {
    padding: 1px 18px;
  }
}
