.comment {
  margin: 40px auto;
  text-align: left;
  line-height: 100px;
  font-size: 35px;
  font-weight: 600;
  color: #333;
  background: url(../src/assets/maincourse/comment.png) no-repeat;
  background-position: 1% 40%;
}
.commentShow {
  padding: 20px 30px;
}
.commentNum {
  font-weight: 600;
  font-size: 18px;
}
.date {
  font-size: 13px;
  margin-top: 17px;
}
.rating {
  position: relative;
  top: 13px;
}
.ratingg {
  position: relative;
  top: 0px;
}
.rating span svg {
  width: 20px;
  height: 20px;
}
.ratingg span svg {
  width: 20px;
  height: 20px;
}
.commentPic > span {
  max-width: 65px !important;
  max-height: 65px !important;
  border-radius: 100% !important;
}
.comName {
  font-weight: 600;
  position: relative;
  top: -60px;
  left: 70px;
}
.percent75 {
  color: orange;
  border: 2px solid orange;
  border-right: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px 0;
  text-align: center;
  max-width: 44px;
  font-size: 14px;
}
.percent0 {
  color: orange;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px 0;
  text-align: center;
  max-width: 44px;
  font-size: 14px;
}
.percent100 {
  color: orange;
  border: 2px solid orange;
  border-radius: 50%;
  padding: 10px 0;
  text-align: center;
  max-width: 44px;
  font-size: 14px;
}
.percent25 {
  color: orange;
  border: 2px solid #ccc;
  border-left: 2px solid orange;
  border-radius: 50%;
  padding: 10px 0;
  text-align: center;
  max-width: 44px;
  font-size: 14px;
}
.percent50 {
  color: orange;
  border: 2px solid #ccc;
  border-left: 2px solid orange;
  border-top: 2px solid orange;
  border-radius: 50%;
  padding: 10px 0;
  text-align: center;
  max-width: 44px;
  font-size: 14px;
}
.course {
  position: relative;
  top: -34px;
  left: 60px;
  font-size: 14px;
  color: #777;
}
.commentTXT {
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
  padding: 0 80px 0 0;
  display: block;
}
.commentItem {
  padding: 40px 80px 40px 0;
}
.com {
  margin: 40px 0;
}

.like,
.dislike,
.reply {
  font-size: 14px;
  transition: 0.5s;
  cursor: pointer;
}
.like svg,
.dislike svg,
.reply svg {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.like:hover,
.reply:hover {
  color: blue;
}
.dislike:hover {
  color: red;
}
  .commentShow> .com  {
  border-bottom: 3px dashed #ccc;
  padding: 0 0 0 30px;
}
.commentShow> .com:last-child  {
  border-bottom: none
}
.comleft  {
  /* border-left: 5px dotted #ccc; */
  border-left: 3px dashed #ccc;
}
.answer {
  background-color: #fafafa;
  border-radius: 15px;
  margin: 30px 0 0 140px;
  padding: 5px 20px;
}
.commentPost {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 35px 30px;
  max-height: 550px;
}
.comTitle {
  font-weight: 600;
  margin: 10px 0 30px;
}
.txtArea {
  resize: none;
  margin-bottom: 40px;
}
.drop {
  width: 100%;
  margin: 10px auto 20px;
  color: #888;
  background: #fff;
  border: 1px solid #ccc;
}
.drop:hover {
  color: #fff;
  background: orange;
  border: 1px solid #fff;
}
.dropdown {
  width: 90%;
  border: 1px solid #eee;
}
.dropdown a:hover {
  background: #f5a718;
  color: #fff;
}
.addBTN {
  color: #fff;
  margin: 30px auto;
}
.massege {
  background: #fff;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  .answer {
    margin: 30px 0 0 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .commentTXT {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .percent0,.percent50,.percent100,.percent25,.percent75 {
    width: 40px;
  }
  .date {
    position: absolute;
    margin-top: 57px;
  }
  .rating {
    margin-top: 45px;
  }
  .like,
  .dislike,
  .reply {
    font-size: 10px;
  }
}
