.titleVerified {
    margin: 60px 0;
    text-align: left;
    line-height: 100px;
    font-size: 35px;
    font-weight: 600;
    color: #333;
    background: url(../src/assets/home/verified.png) no-repeat;
    background-position: 0% 100%;
  }

  .titleInstructors {
    margin: 40px auto;
    text-align: left;
    line-height: 100px;
    font-size: 35px;
    font-weight: 600;
    color: #333;
    background: url(../src/assets/maincourse/Instructors.png) no-repeat;
    background-position: 0% 100%;
  }
  .titleTopic {
    margin: 40px auto;
    text-align: left;
    line-height: 100px;
    font-size: 35px;
    font-weight: 600;
    color: #333;
    background: url(../src/assets/maincourse/topic.png) no-repeat;
    background-position: 0% 100%;
  }

  .itemWrap{
    background-color: #F1F6F2;
    border-radius: 14px;
  }

  .popularIMG{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
  }
.popularIMG img{
  border-radius: 14px;
}
  .popularName{
    font-weight: 600;
    font-size: 18px;
    margin: 25px 10px 10px;
  }
  .popularDes{
    font-weight: 500;
    font-size: 15px;
    margin: 10px 10px 10px;
  }
  .popularPic{
    position: relative;
    top: 6px;
    left: 10px;
  }
  .bold{
      position: relative;
      top: -6px;
      margin: 0 10px;
      font-weight: 600;
      font-size:14px
  }
  .normal{
      position: relative;
      top: -6px;
      margin: 0 10px;
      font-size:14px
  }
  .boldTopic{
    position: relative;
    top: -110px;
    margin: 0 40px;
    font-weight: 600;
    font-size: 14px;
    line-height:35px
}
.normalTopic{
    position: relative;
    top: -110px;
    margin: 0 -20px;
    font-size:14px;
    line-height:35px
}
.itemHolder{
    max-width: 220px;
    margin:auto;
    background-color: #EEFFE5;
    border-radius: 5%;
    margin-bottom: 50px;
}
.topTopc{
    margin-left: 15%;
    max-height: 180px;
}
.topTopcHolder{
    position: relative;
top: 35px;
}
.botTopic{
    line-height:70px;
    background: #E0FFCF;
    color:#3A8944;
}
.itemHolderPurple{
    max-width: 220px;
    margin:auto;
    background-color: #FEDEFB;
    border-radius: 5%;
    margin-bottom: 50px;
}
.botTopicPurple{
    line-height:70px;
    background: #FFD4FB;
    color:#B21D75;
}
.itemHolderBlue{
    max-width: 220px;
    margin:auto;
    background-color: #E4E6FF;
    border-radius: 5%;
    margin-bottom: 50px;
}
.botTopicBlue{
    line-height:70px;
    background: #D7DAFF;
    color:#2278A9;
}
.itemHolderBrown{
    max-width: 220px;
    margin:auto;
    background-color: #FEF5DE;
    border-radius: 5%;
    margin-bottom: 50px;
}
.botTopicBrown{
    line-height:70px;
    background: #FEEFCA;
    color:#BC8900;
}

.odd{
    margin-top: 100px
}
@media  only screen and (max-width: 1400px) {
}

@media  only screen and (max-width: 1200px) {
}  

@media  only screen and (max-width: 992px) {
}

@media  only screen and (max-width: 768px) {
  .titleVerified {
    margin: 60px auto;
    text-align: center;
    background-position: 50% 100%;
  }
}

@media  only screen and (max-width: 576px) {
}
